<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Car Details</h1>
    </header>
    <main>
        <div id="car-details">
            <img id="car-image" src="" alt="Car Image">
            <h2 id="car-make-model"></h2>
            <p id="car-year"></p>
            <p id="car-description"></p>
            <button onclick="goBack()">Back to Fleet</button>
        </div>
    </main>
    <script src="../public/js/script.js"></script>
</body>
</html>